
<div class="container">

  <div class="row mt-3">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" *ngIf="user">Hello {{user.fname}}!</span>
        <button class="btn btn-success flex-end" (click)="openModal(template)">Post a Job</button>
      </nav>
    </div>
  </div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Post new a Job</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #job="ngForm" (ngSubmit)="onSubmit(job)">
      <div class="form-group">
        <label for="FormControlInput1">Job Title</label>
        <input type="text" #titleRef="ngModel" name="title" required class="form-control" [(ngModel)]= "title" id="title">
      </div>
      <div class="form-group">
        <label for="FormControlTextarea1">Job Description</label>
        <textarea class="form-control" #descriptionRef="ngModel" required [(ngModel)]= "description" name="description" id="description" rows="5"></textarea>
      </div>
      <div class="form-group d-flex justify-content-center">
        <button type="submit"  class="btn btn-warning"> Post </button>
      </div>



    </form>

    <div *ngIf="job.invalid && (job.dirty || job.touched)" class="form-group alert alert-danger">
      <div *ngIf="titleRef.invalid && titleRef.errors.required">
        Title is required.
      </div>
      <div *ngIf="descriptionRef.invalid && descriptionRef.errors.required">
        Description is required.
      </div>
    </div>
  </div>
</ng-template>


  <div class="row">
    <div class="col-12">
      <accordion [closeOthers]="oneAtATime" *ngFor="let job of jobs">
        <accordion-group  heading="{{job.title}}" >
          {{job.description}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Candidate Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody *ngIf="this.info && this.list">
              <tr *ngFor="let candidate of getCandidates(job.id); let i = index;">
                <td>{{i+1}}</td>
                <td>{{candidate.id}}</td>
                <td>{{candidate.name}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.date | date}}</td>
              </tr>
            </tbody>
          </table>
        </accordion-group>
      </accordion>

    </div>
  </div>
</div>
