/* You can add global styles to this file, and also import other style files */
$enable-responsive-font-sizes : true;

body{
  color: #114e73;

}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #71b1dd;
}

::-webkit-scrollbar-thumb {
  background: #4e8fb7;
}

::-webkit-scrollbar-thumb:hover {
  background: #f8b950;
}
