.row {
  min-height: 80vh;
  margin-right: 0px;
  align-items:center;
}
.row div {
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 100px 50px;
}


.row-first div:nth-child(2) {

  background-image: url(/assets/writing-person.jpg);

}


.row-second div:nth-child(1) {
  background-image: url(/assets/writing-back.jpg);

}

.row-third div:nth-child(2) {
  background-image: url(/assets/writing-on-pad.jpg);
}


button {
  background-color: #f8b950;
  border-color: #4e8fb7;
}
